{% extends 'base.html' %}
{% load static %}

{% block content %}


<div class="site-blocks-cover overlay" style="background-image: url('/static/images/hero_bg_2.jpg');">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 mx-auto align-self-center">
        <div class="site-block-cover-content text-center">
          <h1 class="mb-0">О <strong class="text-primary">DiamondMedical</strong></h1>
          <div class="row justify-content-center mb-5">
            <div class="col-lg-6 text-center">
              <p>Обязанности местных фармацевтов включают: проверку и отпуск рецептурных лекарств, предоставление
                рекомендаций по выбору и использованию лекарств врачам.</p>
            </div>
          </div>
          <p><a href="#" class="btn btn-primary px-5 py-3">Купить</a></p>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="site-section py-5" data-aos="fade">
  <div class="container">
    <div class="row">
      <div class="col-lg-4">
        <h3 class="text-black h4">Почему Нас</h3>
        <p>DiamondMedical все чаще берут на себя расширенные функции, которые обеспечивают большую клиническую помощь
          непосредственно пациентам в составе бригады.</p>

      </div>
      <div class="col-lg-4">
        <h3 class="text-black h4">История</h3>
        <p>Примерно с 2000 года во всем мире открылось все больше интернет-аптек.</p>

      </div>
      <div class="col-lg-4">
        <h3 class="text-black h4">Награды</h3>
        <p>Компания DiamondMedical - лучший аптечный бизнес года 2021.</p>

      </div>
    </div>
  </div>
</div>

<div class="site-section bg-light custom-border-bottom" data-aos="fade">
  <div class="container">
    <div class="row justify-content-center mb-5">


      <div class="title-section text-center col-md-7">
        <h2>Наш <strong class="text-primary">Руководство</strong></h2>
      </div>

    </div>
    <div class="row">
      <div class="col-md-6 col-lg-4 mb-5">

        <div class="block-38 text-center">
          <div class="block-38-img">
            <div class="block-38-header">
              <img src="{% static 'images/person_1.jpg' %}" alt="Image placeholder" class="mb-4">
              <h3 class="block-38-heading h4">Elizabeth Graham</h3>
              <p class="block-38-subheading">Генеральный директор</p>
            </div>
            <div class="block-38-body">
              <p>Лорем ипсум долор сит амет, лабитур молестиае про ид, цонгуе солеат цум но. Фацете нусяуам вих еу, цу
                сит мунере персеяуерис. </p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-lg-4 mb-5">
        <div class="block-38 text-center">
          <div class="block-38-img">
            <div class="block-38-header">
              <img src="{% static 'images/person_2.jpg' %}" alt="Image placeholder" class="mb-4">
              <h3 class="block-38-heading h4">Jennifer Greive</h3>
              <p class="block-38-subheading">Соучредитель</p>
            </div>
            <div class="block-38-body">
              <p>Лорем ипсум долор сит амет, лабитур молестиае про ид, цонгуе солеат цум но. Фацете нусяуам вих еу, цу
                сит мунере персеяуерис. </p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-lg-4 mb-5">
        <div class="block-38 text-center">
          <div class="block-38-img">
            <div class="block-38-header">
              <img src="{% static 'images/person_3.jpg' %}" alt="Image placeholder" class="mb-4">
              <h3 class="block-38-heading h4">Patrick Marx</h3>
              <p class="block-38-subheading">Маркетинг</p>
            </div>
            <div class="block-38-body">
              <p>Лорем ипсум долор сит амет, лабитур молестиае про ид, цонгуе солеат цум но. Фацете нусяуам вих еу, цу
                сит мунере персеяуерис. </p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-lg-4 mb-5">
        <div class="block-38 text-center">
          <div class="block-38-img">
            <div class="block-38-header">
              <img src="{% static 'images/person_4.jpg' %}" alt="Image placeholder" class="mb-4">
              <h3 class="block-38-heading h4">Mike Coolbert</h3>
              <p class="block-38-subheading">Менеджер по продажам</p>
            </div>
            <div class="block-38-body">
              <p>Лорем ипсум долор сит амет, лабитур молестиае про ид, цонгуе солеат цум но. Фацете нусяуам вих еу, цу
                сит мунере персеяуерис. </p>
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-6 col-lg-4 mb-5">

        <div class="block-38 text-center">
          <div class="block-38-img">
            <div class="block-38-header">
              <img src="{% static 'images/person_1.jpg' %}" alt="Image placeholder" class="mb-4">
              <h3 class="block-38-heading h4">Elizabeth Graham</h3>
              <p class="block-38-subheading">Генеральный директор</p>
            </div>
            <div class="block-38-body">
              <p>Лорем ипсум долор сит амет, лабитур молестиае про ид, цонгуе солеат цум но. Фацете нусяуам вих еу, цу
                сит мунере персеяуерис. </p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-lg-4 mb-5">
        <div class="block-38 text-center">
          <div class="block-38-img">
            <div class="block-38-header">
              <img src="{% static 'images/person_2.jpg' %}" alt="Image placeholder" class="mb-4">
              <h3 class="block-38-heading h4">Jennifer Greive</h3>
              <p class="block-38-subheading">Соучредитель</p>
            </div>
            <div class="block-38-body">
              <p>Лорем ипсум долор сит амет, лабитур молестиае про ид, цонгуе солеат цум но. Фацете нусяуам вих еу, цу
                сит мунере персеяуерис.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="site-section bg-image overlay" style="background-image: url('/static/images/hero_bg_2.jpg');">
  <div class="container">
    <div class="row justify-content-center text-center">
      <div class="col-lg-7">
        <h3 class="text-white">Скидка до 55%</h3>
        <p class="text-white">Лорем ипсум долор сит амет, лабитур молестиае про ид, цонгуе солеат цум но. Фацете нусяуам
          вих еу, цу сит мунере персеяуерис. </p>
        <p class="mb-0"><a href="/" class="btn btn-outline-white">Cегодня</a></p>
      </div>
    </div>
  </div>
</div>

<div class="site-section site-section-sm site-blocks-1 border-0" data-aos="fade">
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-lg-4 d-lg-flex mb-4 mb-lg-0 pl-4" data-aos="fade-up" data-aos-delay="">
        <div class="icon mr-4 align-self-start">
          <span class="icon-truck text-primary"></span>
        </div>
        <div class="text">
          <h2>Бесплатная доставка</h2>
          <p>Лорем ипсум долор сит амет, лабитур молестиае про ид, цонгуе солеат цум но. Фацете нусяуам вих еу, цу сит
            мунере персеяуерис. </p>
        </div>
      </div>
      <div class="col-md-6 col-lg-4 d-lg-flex mb-4 mb-lg-0 pl-4" data-aos="fade-up" data-aos-delay="100">
        <div class="icon mr-4 align-self-start">
          <span class="icon-refresh2 text-primary"></span>
        </div>
        <div class="text">
          <h2>
            Бесплатный возврат</h2>
          <p>Лорем ипсум долор сит амет, лабитур молестиае про ид, цонгуе солеат цум но. Фацете нусяуам вих еу, цу сит
            мунере персеяуерис. </p>
        </div>
      </div>
      <div class="col-md-6 col-lg-4 d-lg-flex mb-4 mb-lg-0 pl-4" data-aos="fade-up" data-aos-delay="200">
        <div class="icon mr-4 align-self-start">
          <span class="icon-help text-primary"></span>
        </div>
        <div class="text">
          <h2>Служба поддержки</h2>
          <p>Лорем ипсум долор сит амет, лабитур молестиае про ид, цонгуе солеат цум но. Фацете нусяуам вих еу, цу сит
            мунере персеяуерис. </p>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}