{% extends 'base.html' %}
{% load static %}

{% block content %}

<div class="owl-carousel owl-single px-0">
  <div class="site-blocks-cover overlay" style="background-image: url('/static/images/hero_bg.jpg');">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 mx-auto align-self-center">
          <div class="site-block-cover-content text-center">
            <h1 class="mb-0"><strong class="text-primary">MegaPharm</strong> Открыто 24 часа</h1>

            <div class="row justify-content-center mb-5">
              <div class="col-lg-6 text-center">
                <p>Лорем ипсум долор сит амет, лабитур молестиае про ид, цонгуе солеат цум но. Фацете нусяуам вих еу, цу
                  сит мунере персеяуерис.</p>
              </div>
            </div>

            <p><a href="/" class="btn btn-primary px-5 py-3">Купить</a></p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="site-blocks-cover overlay" style="background-image: url('/static/images/hero_bg_2.jpg');">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 mx-auto align-self-center">
          <div class="site-block-cover-content text-center">
            <h1 class="mb-0">Новые Препараты <strong class="text-primary">Каждый день</strong></h1>
            <div class="row justify-content-center mb-5">
              <div class="col-lg-6 text-center">
                <p>Лорем ипсум долор сит амет, лабитур молестиае про ид, цонгуе солеат цум но. Фацете нусяуам вих еу, цу
                  сит мунере персеяуерис. </p>
              </div>
            </div>
            <p><a href="/" class="btn btn-primary px-5 py-3">Купить</a></p>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>

<div class="site-section py-5">
  <div class="container">
    <div class="row">
      <div class="col-lg-4">
        <div class="feature">
          <span class="wrap-icon flaticon-24-hours-drugs-delivery"></span>
          <h3><a href="#">Бесплатная доставка</a></h3>
          <p>Лорем ипсум долор сит амет, лабитур молестиае про ид, цонгуе солеат цум но. Фацете нусяуам вих еу, цу сит
            мунере персеяуерис.
          </p>
          <p><a href="#" class="d-flex align-items-center"><span class="mr-2">Подробно</span> <span
                class="icon-keyboard_arrow_right"></span></a></p>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="feature">
          <span class="wrap-icon flaticon-medicine"></span>
          <h3><a href="#">Новые Лекарства Каждый День</a></h3>
          <p>Лорем ипсум долор сит амет, лабитур молестиае про ид, цонгуе солеат цум но. Фацете нусяуам вих еу, цу сит
            мунере персеяуерис. </p>
          <p><a href="#" class="d-flex align-items-center"><span class="mr-2">Подробно</span> <span
                class="icon-keyboard_arrow_right"></span></a></p>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="feature">
          <span class="wrap-icon flaticon-test-tubes"></span>
          <h3><a href="#">Гарантия На Лекарства</a></h3>
          <p>Лорем ипсум долор сит амет, лабитур молестиае про ид, цонгуе солеат цум но. Фацете нусяуам вих еу, цу сит
            мунере персеяуерис. </p>
          <p><a href="#" class="d-flex align-items-center"><span class="mr-2">Подробно</span> <span
                class="icon-keyboard_arrow_right"></span></a></p>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="site-section bg-light">
  <div class="container">
    <div class="row">
      <div class="title-section text-center col-12">
        <h2>Лучший <strong class="text-primary">Товары</strong></h2>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12 block-3 products-wrap">
        <div class="nonloop-block-3 owl-carousel">
          {% for product in products %}
          <div class="text-center item mb-4 item-v2">
            {% if product.sale %}
            <span class="onsale">Распродажа</span>
            {% endif %}
            <a href="shop/{{product.slug}}"> <img src="{{product.image.url}}" alt="Image"></a>
            <h3 class="text-dark"><a href="shop/{{product.slug}}">{{product.title}}</a></h3>
            <p class="price">${{product.price}}</p>
          </div>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
</div>

<div class="site-section bg-image overlay" style="background-image: url('/static/images/hero_bg_2.jpg');">
  <div class="container">
    <div class="row justify-content-center text-center">
      <div class="col-lg-7">
        <h3 class="text-white">Скидка до 55%</h3>
        <p class="text-white">Лорем ипсум долор сит амет, лабитур молестиае про ид, цонгуе солеат цум но. Фацете нусяуам
          вих еу, цу сит мунере персеяуерис. </p>
        <p class="mb-0"><a href="/" class="btn btn-outline-white">Купить</a></p>
      </div>
    </div>
  </div>
</div>

<div class="site-section">
  <div class="container">

    <div class="row justify-content-between">
      <div class="col-lg-6">
        <div class="title-section">
          <h2>Довольные <strong class="text-primary">Клиенты</strong></h2>
        </div>
        <div class="block-3 products-wrap">
          <div class="owl-single no-direction owl-carousel">

            <div class="testimony">
              <blockquote>
                <img src="{% static 'images/person_1.jpg' %}" alt="Image" class="img-fluid">
                <p>&ldquo;Лорем ипсум долор сит амет, лабитур молестиае про ид, цонгуе солеат цум но. Фацете нусяуам вих
                  еу, цу сит мунере персеяуерис. &rdquo;</p>
              </blockquote>

              <p class="author">&mdash; Kelly Holmes</p>
            </div>

            <div class="testimony">
              <blockquote>
                <img src="{% static 'images/person_2.jpg' %}" alt="Image" class="img-fluid">
                <p>&ldquo;Лорем ипсум долор сит амет, лабитур молестиае про ид, цонгуе солеат цум но. Фацете нусяуам вих
                  еу, цу сит мунере персеяуерис. &rdquo;</p>
              </blockquote>

              <p class="author">&mdash; Rebecca Morando</p>
            </div>

            <div class="testimony">
              <blockquote>
                <img src="{% static 'images/person_3.jpg' %}" alt="Image" class="img-fluid">
                <p>&ldquo;Лорем ипсум долор сит амет, лабитур молестиае про ид, цонгуе солеат цум но. Фацете нусяуам вих
                  еу, цу сит мунере персеяуерис. &rdquo;</p>
              </blockquote>

              <p class="author">&mdash; Lucas Gallone</p>
            </div>

            <div class="testimony">
              <blockquote>
                <img src="{% static 'images/person_4.jpg' %}" alt="Image" class="img-fluid">
                <p>&ldquo;Лорем ипсум долор сит амет, лабитур молестиае про ид, цонгуе солеат цум но. Фацете нусяуам вих
                  еу, цу сит мунере персеяуерис. &rdquo;</p>
              </blockquote>

              <p class="author">&mdash; Andrew Neel</p>
            </div>

          </div>
        </div>
      </div>
      <div class="col-lg-5">
        <div class="title-section">
          <h2 class="mb-5">Почему <strong class="text-primary">Нас</strong></h2>
          <div class="step-number d-flex mb-4">
            <span>1</span>
            <p>Лорем ипсум долор сит амет, лабитур молестиае про ид, цонгуе солеат цум но. Фацете нусяуам вих еу, цу сит
              мунере персеяуерис</p>
          </div>

          <div class="step-number d-flex mb-4">
            <span>2</span>
            <p>Лорем ипсум долор сит амет, лабитур молестиае про ид, цонгуе солеат цум но. Фацете нусяуам вих еу, цу сит
              мунере персеяуерис</p>
          </div>

          <div class="step-number d-flex mb-4">
            <span>3</span>
            <p>Лорем ипсум долор сит амет, лабитур молестиае про ид, цонгуе солеат цум но. Фацете нусяуам вих еу, цу сит
              мунере персеяуерис</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}