{% extends 'base.html' %}
{% load static %}

{% block content %}


<div class="bg-light py-3">
  <div class="container">
    <div class="row">
      <div class="col-md-12 mb-0"><a href="/">Главная</a> <span class="mx-2 mb-0">/</span> <strong
          class="text-black">Спасибо Большое</strong></div>
    </div>
  </div>
</div>

<div class="site-section">
  <div class="container">
    <div class="row">
      <div class="col-md-12 text-center">
        <span class="icon-check_circle display-3 text-primary"></span>
        <h2 class="display-3 text-black">Спасибо Большое!</h2>

        <div class="text-black"
          style="text-align: center; margin: 0 auto; font-size: 16px !important; margin-left: -4px; margin-right: -4px;">
          <table class="doc" style="width: 235px; display: inline-block; margin-left: 4px; margin-right: 4px;">
            <tbody>
              <tr>
                <td colspan="4" style="border-top: 0; border-left: 0; border-right: 0; text-align: center;"><b>Чек на
                    пред­опла­ту<br>&nbsp;</b></td>
              </tr>
              <tr class="pb0">
                <td style="border-right: 0; border-bottom: 0;"></td>
                <td class="donthyphenate" colspan="2" style=" border-left: 0; border-right: 0; text-align: center;">ООО
                  «Megapharma»<br>7, Каратауский, г.&nbsp;Шымкент,<br>жилой массив Кайнар булак,<br>МЕСТО
                  РАСЧЕТОВ:<br>www.megapharma.herokuapp.com</td>
                <td style="border-left: 0; border-bottom: 0;"></td>
              </tr>
              <tr class="pt0">
                <td style="border-right: 0; border-bottom: 0;"></td>
                <td style="border-bottom: 2px #a7a9ac dashed; border-left: 0; border-right: 0; text-align: left;">
                  <br>ИНН:&nbsp;7713666222</td>
                <td style="border-bottom: 2px #a7a9ac dashed; border-left: 0; border-right: 0; text-align: right;">
                  <br>СНО:&nbsp;ОСН</td>
                <td style="border-left: 0; border-bottom: 0;"></td>
              </tr>
              <tr class="pb0">
                <td style="border-top: 0; border-right: 0;"></td>
                <td style="border: 0; text-align: left;">
                  Названия:&nbsp;{{single_product.title}}<br>Цена:&nbsp;₸{{single_product.price}}
                </td>
                <td style="border: 0; text-align: right;">{{date_date}}<br>{{date_time}}</td>
                <td style="border-top: 0; border-left: 0;"></td>
              </tr>
              <tr class="pb0">
                <td style="border-top: 0; border-right: 0;"></td>
                <td style="border: 0; text-align: left;">
                  НДВ:&nbsp;0%<br>ИТОГО:&nbsp;<strong>₸{{single_product.price}}</strong></td>
                <td style="border-top: 0; border-left: 0;"></td>
              </tr>
              <tr class="pb0">
                <td style="border-top: 0; border-right: 0;"></td>
                <td style="border: 0; text-align: left;">
                  Email:&nbsp;megapharma@gmail.com<br></td>
                <td style="border-top: 0; border-left: 0;"></td>
              </tr>

            </tbody>
          </table>
        </div>

        <p><a href="{% url 'shop' %}" class="btn btn-md height-auto px-4 py-3 btn-primary">Вернуться в магазин</a></p>
      </div>
    </div>
  </div>
</div>

{% endblock %}